h1 {
    font-family: 'Aclonica', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster Two', cursive;
    font-size:xx-large;
   
}


#titulo{
    background-color: #545E75
}
#general {
    width: 50%;
    height: 200px;
    background-color: #F2D0A4;
    margin-left:300px;
    padding-left: 20px;
    padding-right: 20px;
}
#fin {
    background-color: #545E75
}
img {
    float: right;
    display: block;
    position: relative;
    margin: -6px 6px 6px -6px;
  }