/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

   
    nav {
        display:flex;
        justify-content: center;
        background-color: #134611;
        font-family: 'Viga', sans-serif;
    }

    nav button {display: none;}

    nav ul.hide{display: block;}

    nav ul{margin-left: 2%;}
    nav ul li{
        float: left; 
    }
        
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }

    div.cards-rentals {
        display:grid;
        grid-template-columns:  1fr 1fr;
        background-color: #3da35d;
        padding:20px;
        width: 860px;
        margin:40px;
        border:4px solid;
    }
    div.cards-rentals.imagen1{
        grid-column-start:2;
        justify-content: center;
        width:100%;
        padding:20px;
      }
      .texto1{
        grid-column-start:1;
      }
      .titlecard{
        grid-column-start: 1;
        grid-column-end:3;
        padding:10px;
      }
      .eventbox{
        display:grid;
        font-size: 1.0em;
        grid-template-columns: 1fr 1fr;
        border: 1px solid #3da35d;
        border-radius: 10px;
        box-shadow: 0 0 30px #111;
        padding:20px;
        padding-bottom: 40px;
        margin: 20px;
        font-family: 'Arima Madurai', cursive;
        background-color:#3da35d;
        color:#eee;
      }
      
} /*end large */

