/* 35em is also 568px when basefont is 16px */
@media only screen and (min-width: 35em) {
    
         nav {
        display:flex;
        justify-content: center;
        background-color: #134611;
        font-family: 'Viga', sans-serif;
        }

        header img {
          width: 100%;
        }
      
        .headings h1 {
          font-size: 3rem;
        }
      
        .slogan {
          letter-spacing: 1.5pt;
          font-size: larger;
          margin-left: 17px;
        }
        
        div.cards-rentals {
          display:grid;
          grid-template-columns:  1fr 1fr;
          background-color: #3da35d;
          padding:20px;
          width: 550px;
          margin:20px;
          justify-content: center;
          border:4px solid;
      }
      div.cards-rentals.imagen1{
        grid-column-start:2;
        justify-content: center;
        width:100%;
        padding:20px;
        
      }
      .texto1{
        grid-column-start:1;
      }
      .titlecard{
        grid-column-start: 1;
        grid-column-end:3;
        padding:10px;
      }
      
        
}/*end medium*/