@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
@import url("https://fonts.googleapis.com/css?family=Electrolize");

h2 {
    text-align: center;
    font-family:"Merriweather Sans";
    font-style: italic;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items:center;
    text-align: center;
    grid-row-gap:20px;
    margin:20px;

}

main div section  {
    background-color: #084887;
    padding:20px;
    width:100%;
}

img {
    width: 90%;
}
h2,h3 {
    font-family:"Merriweather Sans";
}
p {
    font-family:"Merriweather Sans";
    padding:10px;
}

@media only screen and (min-width: 35em) {
    .cards {
        display: grid;
          grid-template-columns: 1fr 1fr;
      }
      
      .cards:nth-child(odd) img {
          grid-column: 2;
      }
      
      .cards:nth-child(odd) p{
          grid-column: 1;
          grid-row: 1;
      }
      
     
    

}

@media only screen and (min-width: 64rem) {

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:10px;
        justify-items:center;
        text-align: center;
        grid-row-gap:20px;
    }
}