/* 35em is also 568px when basefont is 16px */
@media only screen and (min-width: 35em) {
    .container{
        grid-template-columns: 1fr 1fr;
    } 
    
    div.cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items:center;
        text-align: center;
        grid-row-gap:20px;
        width:400px;
    }
    
    .weatherSummary {
        position: relative;
        left: 80px;
        background: radial-gradient(#eee, #4567aa);   
        padding: 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
        width: 80%;
        align-content: center;
    }
    
    
        
}/*end medium*/