
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
  
 
}
picture img {
  filter: blur(0em);
  transition: filter 0.5s;
  
}

picture img[data-src] {
  filter: blur(0.2em);
}

h1{
  text-align: center;
  background-color: blueviolet;
}

footer{
  background-color: blueviolet;
  text-align: center;
}